body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0e15;
    color: #e8e8e8;
}

header {
    background-color: #14141f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #232335;
}

header h1 {
    color: #2de3ff;
    margin-bottom: 10px;
}

nav a {
    color: #b7d9ff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #2de3ff;
}

.section-box {
    background-color: #161625;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #262637;
}

h2 {
    color: #2de3ff;
}

.elden-image {
    width: 350px;
    border-radius: 10px;
    display: block;
    margin-top: 15px;
}
